.btn{
  display: inline-block;
  border: solid 1px #ccc;
  background: #999;
  padding: 1em;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  a{
      text-decoration: none;
      color: #fff;
  }
}


/*
#overview
パーツ素材
*/

/*
#styleguide
ボタン

.btn
ボタンです。aタグにつけてください。

@エレメント

```
<a href="" class="btn">ボタン</a>

```

*/

/*
#styleguide
文書

Pタグを使ってください

@エレメント

```
<p>Pタグです</p>

```

*/